$color-accent: #000000

// TYPOGRAPHY
$heading-font-family: "Manifont", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: "Atkinson Hyperlegible"

// h1
$h1-size-desktop: pxToRem(76)
$h1-weight: normal

// Lead
$lead-sidebar-size-desktop: pxToRem(36)

// Meta
$meta-font-family: $body-font-family

// HEADER
$header-background: none
$header-dropdown-full: true
$header-border-bottom-width: 0
$header-logo-height-desktop: pxToRem(40)

// HERO
$hero-background-color: none

// FOOTER
$footer-logo-height-desktop: pxToRem(40)

// COMPONENTS
// button
$btn-font-family: $body-font-family
$btn-border-radius: 0