$color-accent: #000000
$color-text: #000000
$color-background-alt: #F2F2F2
$color-border: #E5E5E5

// site colors
$site-red: #FF9580
$site-green: #BFFF80
$site-blue: #80E9FF

// TYPOGRAPHY
$heading-font-family: "Manifont", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: "Atkinson Hyperlegible"

// h1
$h1-size-desktop: pxToRem(64)
$h1-weight: normal

// h2
$h2-size-desktop: pxToRem(48)
$h2-line-height-desktop: 125%
$h2-weight: normal

// h3
$h3-size-desktop: pxToRem(40)
$h3-weight: normal

// h4
$h4-size-desktop: pxToRem(32)
$h4-line-height-desktop: 135%
$h4-weight: normal

// h5
$h5-line-height-desktop: 135%
$h5-weight: normal

// h6
$h6-weight: normal

// Body
$body-size-desktop: pxToRem(20)

// Lead
$lead-sidebar-size-desktop: pxToRem(36)
$lead-sidebar-line-height-desktop: 140%
$lead-size-desktop: pxToRem(44)
$lead-line-height-desktop: 135%

// Meta
$meta-font-family: $body-font-family

// Signature
$signature-line-height: 160% 

// Citations | quotes
$quote-size-desktop-short: pxToRem(44)
$quote-size-desktop-long: pxToRem(34)
$quote-line-height: 135%


// HEADER
$header-background: none
$header-dropdown-full: true
$header-border-bottom-width: 2px
$header-logo-height-desktop: pxToRem(40)

// HERO
$hero-background-color: none

// FOOTER
$footer-logo-height-desktop: pxToRem(40)

// COMPONENTS
// button
$btn-font-family: $body-font-family
$btn-border-radius: 0

// BLOCKS
// cta
$block-call-to-action-accent-background: $color-background-alt
$block-call-to-action-accent-color: $color-text
$block-call-to-action-accent-button-background: $color-text
$block-call-to-action-accent-button-color: var(--color-background)

//pages
$block-pages-card-page-background-hover: var(--color-background)
$block-pages-card-page-color-hover: $color-text

// video
$block-video-background: none

// key figures

$block-key_figures-font-size-desktop: pxToRem(18)
$block-key_figures-number-font-size-desktop: pxToRem(44)
$block-key_figures-font-size-lg: pxToRem(24)
$block-key_figures-number-font-size-lg: pxToRem(44)
$block-key_figures-font-size-xl: $block-key_figures-font-size-lg
$block-key_figures-number-font-size-xl: pxToRem(44)
$block-key_figures-font-size-xxl: $block-key_figures-font-size-xl
$block-key_figures-number-font-size-xxl: pxToRem(44)