// MIXIN
@mixin background-without-margin
    margin-left: var(--grid-gutter-negative)
    margin-right: var(--grid-gutter-negative)
    padding-left: var(--grid-gutter)
    padding-right: var(--grid-gutter)

@mixin category-button
    @include meta
    text-decoration: none !important
    border: 1px solid $color-border
    padding: space() space(2)
    transition: all 0.3s ease
    &:hover
        background-color: $color-border

.pages__section,
.posts__section,
.events__section,
.events__page
    .hero
        border-bottom-width: 2px
        border-bottom-style: solid
        border-image: linear-gradient(to right, $site-red 33%, $site-green 33%, $site-green 66%, $site-blue 66%, $site-blue 100%) 1
    &.ancestor-about
        header#document-header
            border: none
        .breadcrumb-nav
            background-image: linear-gradient(90deg, $site-red 33.33%, $site-green 33.33%, $site-green 66.66%, $site-blue 66.66%)
            background-size: 100% 100%
            @include media-breakpoint-up(desktop)
                @include background-without-margin

// footer and header colors
header#document-header,
footer#document-footer
    // colors
    border-image: linear-gradient(to right, $site-red 33%, $site-green 33%, $site-green 66%, $site-blue 66%, $site-blue 100%) 1
    .page-research &,
    .projects_categories__term &,
    .projects__page &,
    .projects__section &,
    .ancestor-research &
        border-color: $site-blue
        border-image: none
    .page-schooling &,
    .ancestor-schooling &,
    .programs_categories__term &,
    .programs__section &
        border-color: $site-red
        border-image: none
    .page-eco-place &,
    .ancestor-eco-place &
        border-color: $site-green
        border-image: none

footer#document-footer
    border-top-width: 2px
    border-top-style: solid

// arrow icon on buttons
.hero-actions a.btn,
.call_to_action .actions a
    // --btn-background-color: rgba($color-accent, 0.3)
    @include icon(arrow-right-line, after, true)
    &:not([target="_blank"])
        @include hover-translate-icon

// taxonomies
.taxonomies-single
    .terms
        .taxonomy-children
            display: flex
            flex-wrap: wrap
            gap: space(2)
        a
            @include category-button
    .taxonomy-public
        a
            background-color: $color-border

// external links with icons
a[target="_blank"]:not(.icon)::after, 
.link[target="_blank"]:not(.icon)::after
    @include icon-site("icon-external")
    margin-left: space(2)

// Table of content
.toc-container
    .toc-pages
        ol li
            a
                @include icon(arrow-right-line, after, true)
                @include hover-translate-icon(after, 4, true)
                text-decoration: none
                &[aria-current="true"],
                &:hover
                    text-decoration: none
                    &::after
                        opacity: 1
                
// share dropdown
.dropdown-share
    > button::after
        @include icon-site("icon-share")
        font-size: 80%
        margin-left: space(2) !important
