// MIXIN
@mixin background-without-margin
    margin-left: var(--grid-gutter-negative)
    margin-right: var(--grid-gutter-negative)
    padding-left: var(--grid-gutter)
    padding-right: var(--grid-gutter)

@mixin category-button
    @include meta
    text-decoration: none
    border: 1px solid $color-border
    padding: space() space(2)
    transition: background-color 0.3s ease
    &:hover
        background-color: $color-border

.pages__section
    .hero
        border-bottom-width: 2px
        border-bottom-style: solid
        border-image: linear-gradient(to right, $site-red 33%, $site-green 33%, $site-green 66%, $site-blue 66%, $site-blue 100%) 1
    &.ancestor-about
        header#document-header
            border: none
        .breadcrumb-nav
            background-image: linear-gradient(90deg, $site-red 33.33%, $site-green 33.33%, $site-green 66.66%, $site-blue 66.66%)
            background-size: 100% 100%
            @include media-breakpoint-up(desktop)
                @include background-without-margin

// footer and header colors
header#document-header,
footer#document-footer
    // colors
    border-image: linear-gradient(to right, $site-red 33%, $site-green 33%, $site-green 66%, $site-blue 66%, $site-blue 100%) 1
    .page-research &,
    .projects_categories__term &,
    .projects__page &,
    .projects__section &,
    .ancestor-research &
        border-color: $site-blue
        border-image: none
    .page-schooling &,
    .ancestor-schooling &
        border-color: $site-red
        border-image: none
    .page-eco-place &,
    .ancestor-eco-place &
        border-color: $site-green
        border-image: none

footer#document-footer
    border-top-width: 2px
    border-top-style: solid

// arrow icon on buttons
.hero-actions .btn,
.call_to_action .actions a
    @include icon(arrow-right-line, after, true)
    @include hover-translate-icon

// taxonomies
.taxonomies-single
    .terms
        .taxonomy-children
            display: flex
            flex-wrap: wrap
            gap: space(2)
        a
            @include category-button
    .taxonomy-public
        a
            background-color: $color-border