.block-call_to_action
    .call_to_action--without-image
        &:not(.call_to_action--without-text)
            > div 
                @include in-page-without-sidebar
                    @include media-breakpoint-up(xxl)
                        .top
                            grid-column: 1/8
                        .actions
                            grid-column: 9/13
    .top
        .block-title
            margin-bottom: $spacing-3
    .call_to_action
        .description p
            @include lead-hero
        body.full-width &
            .actions
                a:not(:first-child)
                    --btn-background: #{$color-background-alt}
                    --btn-color: #{$color-text}
                    --btn-hover-background: #{$color-border}
                    @extend .button-alt

// chapter with cta (cf. nous soutenir)
.block-class-with-button
    margin-bottom: 0
    & + .block-call_to_action
        margin-top: 0
        @include media-breakpoint-up(desktop)
            .actions a
                margin-top: $spacing-4