.block-organizations
    .organizations
        &.with-summaries,
        &:not(.with-summaries)
            .organization-title
                font-family: $heading-font-family
    &--grid
        .organization
            .media
                border: 2px solid transparent
                transition: all 0.3s ease
            &:hover
                .media
                    border-color: $color-accent
                