.block-pages
    &--cards
        @include in-page-without-sidebar
            .top
                .description
                    @include lead-hero
        article.card
            .page-title
                @include h4
        // colored blocks for home
    &.block-class-colored-pages
        article:first-child
            .media
                background-color: $site-red
        article:nth-child(2)
            .media
                background-color: $site-green
        article:last-child
            .media
                background-color: $site-blue
    &--list
        &.block-class-block-background-red
            background: $site-red
            padding-bottom: $spacing-4
            padding-top: $spacing-4 !important
            @include media-breakpoint-up(desktop)
                padding-bottom: space(20)
                padding-top: space(20) !important
        @include in-page-with-or-without-sidebar
            .top
                .description p
                    @include lead-hero
    &--grid
        .grid 
            article
                .media img
                    object-fit: contain
            @include in-page-without-sidebar
                > :nth-child(2):nth-last-child(1),
                > :nth-child(1):nth-last-child(2)
                    width: columns(6)
                    .media img
                        aspect-ratio: 16/6
                        object-position: center
                        object-fit: cover
    // navigation block at the end of primary pages
    &.block-class-navigation-block
        @include in-page-with-or-without-sidebar
            .page
                &-title
                    @include h4
        // ex: page "le projet"
        .pages__section &
            .page:first-child .media
                background: $site-red
            .page:nth-child(2) .media
                background: $site-green
            .page:last-child .media
                background: $site-blue
        .page-research &
            .page:first-child .media
                background: $site-red
            .page:last-child .media
                background: $site-green
        .page-schooling &
            .page:first-child .media
                background: $site-green
            .page:last-child .media
                background: $site-blue
        .page-research &
            .page:first-child .media
                background: $site-red
            .page:last-child .media
                background: $site-green
    &--list
        .page
            article
                .media img
                    aspect-ratio: 1
    &--large
        .page
            .media img
                aspect-ratio: 7 / 5
            .page-title
                @include in-page-with-sidebar
                    @include h3
                a
                    @include icon(arrow-right-line, after, true)
                        font-size: 80%
                    @include hover-translate-icon
                    text-decoration: none
            .more
                @extend .sr-only
            @include media-breakpoint-up(desktop)
                align-items: center
                .media 
                    margin-bottom: 0
        &.block-class-background-alt
            background-color: var(--color-background-alt)
                padding-bottom: $spacing-4
                padding-top: $spacing-4
            @include media-breakpoint-up(desktop)
                padding-bottom: space(20)
                padding-top: space(20)