@mixin page-color($color)
    header#document-header,
    footer#document-footer
        border-color: $color
        border-image: none
    .toc-container
        .toc-title
            --color-border: #{$color}

.pages__section,
.posts__section,
.events__section,
.events__page
    .hero
        border-bottom-width: 2px
        border-bottom-style: solid
        border-image: linear-gradient(to right, $site-red 33%, $site-green 33%, $site-green 66%, $site-blue 66%, $site-blue 100%) 1
    &.ancestor-about
        header#document-header
            border: none
        .breadcrumb-nav
            background-image: linear-gradient(90deg, $site-red 33.33%, $site-green 33.33%, $site-green 66.66%, $site-blue 66.66%)
            background-size: 100% 100%
            @include media-breakpoint-up(desktop)
                @include background-without-margin


// footer and header colors
header#document-header,
footer#document-footer
    // colors
    border-image: linear-gradient(to right, $site-red 33%, $site-green 33%, $site-green 66%, $site-blue 66%, $site-blue 100%) 1

.page-research,
.projects_categories__term,
.projects__page,
.projects__section,
.ancestor-research
    @include page-color($site-blue)
.page-schooling,
.ancestor-schooling,
.programs_categories__term,
.programs__section
    @include page-color($site-red)
.page-eco-place,
.ancestor-eco-place
    @include page-color($site-green)
