.programs__section
    &,
    &.full-width
        .programs
            .program
                padding-top: space(8)
                padding-bottom: space(8)
                .program-title
                    @include h3
                @include media-breakpoint-up(desktop)
                    .program-content
                        row-gap: $spacing-3
    .hero
        .buttons
            button
                --btn-background: #{rgba($color-accent, 0.1)}
                --btn-border: #{rgba($color-accent, 0.1)}
                --btn-color: #{$color-text}
                --btn-hover-background: #{rgba($color-accent, 0.2)}
                --btn-hover-border: #{rgba($color-accent, 0.2)}
                --btn-hover-color: #{$color-text}
            a[download]
                --btn-background: #{$color-accent}
                --btn-border: transparent
                --btn-color: #{$color-background}
                --btn-hover-background: #{rgba($color-accent, 0.8)}
                --btn-hover-border: transparent
                --btn-hover-color: #{$color-background}
                &::after
                    @include icon-site("icon-download")
                    font-size: 80%

.page-schooling
    .block-categories--programs
        .top
            .description
                @include lead-hero
