.projects__page 
    .hero 
        .content
            .hero-actions
                display: flex
                gap: var(--grid-gutter)
                @include media-breakpoint-down(desktop)
                    margin-top: 0
                    a, button
                        margin-top: $spacing-1
                        width: columns(6)
            .dropdown-share
                // --btn-min-width: unset
                // position: relative
                // bottom: unset
                // right: unset
                // margin-top: 0
                @extend .sr-only
                // button
                //     background-color: $color-border-alt
                //     color: $color-text
                //     border-color: $color-border-alt
                //     &:hover
                //         background-color: $color-border
                //         border-color: $color-border
                //         color: $color-text
                //     @include media-breakpoint-up(desktop)
                //         width: unset
                //     &::after
                //         margin-left: space()
    .project-sidebar
        .project-infos > li:first-child
            padding-bottom: 0 !important
        .taxonomies-single
            display: flex
            flex-direction: column
            .terms
                border-top: 0 !important
                padding-bottom: $spacing-2 !important
                padding-top: 0 !important
                &:not(:last-child)
                    border-bottom: 1px solid var(--color-border)
                    margin-bottom: $spacing-2 !important


    .taxonomies-single
        .taxonomy-type
            order: -2
        .taxonomy-etat 
            order: -1
        .taxonomy-type
            a
                background-color: $color-border
        @include media-breakpoint-down(desktop)
            display: flex
            flex-direction: column
            gap: $spacing-3

.project
    // "type" category in grey for research types
    .ancestor-type-taxonomy
        order: -1
        a
            background-color: $color-border
