.projects__page 
    .hero 
        .content
            .hero-actions
                display: flex
                gap: var(--grid-gutter)
                @include media-breakpoint-down(desktop)
                    margin-top: 0
                    a, button
                        margin-top: $spacing-1
                        width: columns(6)
            .dropdown-share
                --btn-min-width: unset
                position: relative
                bottom: unset
                right: unset
                margin-top: 0
                button
                    background-color: $color-border-alt
                    color: $color-text
                    border-color: $color-border-alt
                    &:hover
                        background-color: $color-border
                        border-color: $color-border
                        color: $color-text
                    @include media-breakpoint-up(desktop)
                        width: unset
                    &::after
                        margin-left: space()