.hero
    .content
        .hero-text
            h1
                span
                    @include h2
            .has-lead > p
                margin-top: $spacing-4
            .hero-actions
                margin-top: $spacing-4
            .btn
                @extend .button-accent
                &:hover
                    background-color: $btn-hover-background !important
                    border-color: transparent
            
            @include media-breakpoint-up(desktop)
                width: calc(#{columns(7)} + var(--column-width))
            
            @include media-breakpoint-between(desktop, xl)
                h1
                    @include h2
                .has-lead > p
                    @include h4
        
        .page__home &
            @include media-breakpoint-up(desktop)
                align-items: stretch
                hgroup
                    flex: 1
                    h1 + p
                        margin-top: $spacing-6
                        max-width: 42ch

    body:not(.events__page, .persons__page) &
        .content
            .hero-text
                margin-top: 0
                @include media-breakpoint-up(desktop)
                    width: columns(7)
            figure
                @include media-breakpoint-up(desktop)
                    width: columns(4)
                @include media-breakpoint-down(desktop)
                    &.image-landscape,
                    &.image-portrait,
                    &.image-square
                        margin-left: var(--grid-gutter-negative)
                        margin-right: var(--grid-gutter-negative)
                        margin-bottom: space(23)

    .breadcrumb-nav
        mask-image: none !important
        .breadcrumb-item
            &.active
                color: var(--color-text-alt)
            &:not(.active)
                &::before
                    color: var(--color-text)

        @include media-breakpoint-up(desktop)
            + .content
                margin-top: $spacing-4

    // colors in hero and breadcrumb
    .ancestor-research &,
    .projects_categories__term &,
    .projects__page &,
    .projects__section &,
    .ancestor-schooling &,
    .ancestor-eco-place &,
    .programs_categories__term &,
    .programs__section &
        border-bottom-width: 2px
        border-bottom-style: solid
        overflow: hidden
        &.hero--with-image
            padding-bottom: space(9)
        .breadcrumb-nav
            margin-left: var(--grid-gutter-negative)
            margin-right: var(--grid-gutter-negative)
            padding-left: var(--grid-gutter)
            padding-right: var(--grid-gutter)
            position: relative
            @include media-breakpoint-up(desktop)
                &::before,
                &::after
                    bottom: 0
                    content: ''
                    position: absolute
                    top: 0
                    width: 50vw
                &::before
                    left: 0
                    transform: translateX(-100%)
                &::after
                    right: 0
                    transform: translateX(100%)

    .ancestor-research &,
    .projects_categories__term &,
    .projects__page &,
    .projects__section &
        .breadcrumb-nav
            background: $site-blue
            @include media-breakpoint-up(desktop)
                &::before,
                &::after
                    background: $site-blue
    .ancestor-schooling &,
    .programs_categories__term &,
    .programs__section &
        .breadcrumb-nav
            background: $site-red
            @include media-breakpoint-up(desktop)
                &::before,
                &::after
                    background: $site-red
    .ancestor-eco-place &
        .breadcrumb-nav
            background: $site-green
            @include media-breakpoint-up(desktop)
                &::before,
                &::after
                    background: $site-green

    .page-research &,
    .page-eco-place &,
    .page-schooling &
        border: none !important
        .content
            figure
                margin-right: 0

            @include media-breakpoint-up(desktop)
                padding-bottom: space(20)

            @include media-breakpoint-down(desktop)
                display: flex
                flex-direction: column
                padding-top: $spacing-3
                figure
                    align-items: center
                    display: flex
                    justify-content: flex-end
                    order: -1
                    margin-bottom: $spacing-3 !important
                    img
                        aspect-ratio: 3/2
                        object-fit: contain

    .page-research & 
        background: $site-blue
    .page-schooling & 
        background: $site-red
    .page-eco-place & 
        background: $site-green

    @include media-breakpoint-down(desktop)
        .page__home &
            margin-bottom: 0
            .hero-text
                padding-top: $spacing-4
        .persons__page &.hero--with-image figure
            margin-left: unset
        .page-research &,
        .page-eco-place &,
        .page-schooling &
            .content
                margin-left: var(--grid-gutter-negative)
                margin-right: var(--grid-gutter-negative)
                padding-left: var(--grid-gutter)
                padding-right: var(--grid-gutter)
            .breadcrumb-nav
                margin-bottom: 0
        .programs__section &
            figure
                margin-left: var(--grid-gutter-negative)
                margin-right: var(--grid-gutter-negative)
        .programs_categories__term &
            &.hero--with-image
                margin-bottom: $spacing-4
            figure
                margin-bottom: 0
        // empêcher les images de se décaler hors du hero
        &--image-portrait,
        &--image-square
            margin-bottom: $spacing-5
            .page-research &,
            .page-eco-place &,
            .page-schooling &
                .breadcrumb-nav
                    margin-bottom: 0
                figure
                    margin-bottom: 0