@mixin background-without-margin
    margin-left: var(--grid-gutter-negative)
    margin-right: var(--grid-gutter-negative)
    padding-left: var(--grid-gutter)
    padding-right: var(--grid-gutter)
.hero
    .content
        .hero-text
            margin-top: 0
            .has-lead > p
                margin-top: $spacing-4
            .btn
                @extend .button-accent
                margin-top: $spacing-4
        .page__home &
            @include media-breakpoint-up(desktop)
                align-items: stretch
                .hero-text,
                    align-items: flex-start
                    display: flex
                    flex-direction: column
                    height: auto
                    justify-content: space-between
                hgroup
                    flex: 1
                    h1 + p
                        margin-top: $spacing-6
        figure
            img
                aspect-ratio: 1
                object-fit: cover
            @include media-breakpoint-up(desktop)
                margin-right: var(--grid-gutter-negative)
    // colors in hero and breadcrumb
    .ancestor-research &
        border-bottom: 2px solid $site-blue
        .breadcrumb-nav
            background: $site-blue
            @include background-without-margin
    .page-research &
        .content
            @include background-without-margin
            background: $site-blue
            padding-bottom: space(20)
            figure
                margin-right: 0
    @include media-breakpoint-up(desktop)
        .breadcrumb-nav + .content
            padding-top: space(20)
    @include media-breakpoint-down(desktop)
        .page__home &
            margin-bottom: 0